@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-navbar{
    position: sticky
}

body {
    font-family: var(--font-inter), sans-serif;
  }

@font-face {
    font-family: "Inter"  ;
    src: url("/fonts/Inter_18pt-Regular.ttf") format(ttf);
}